services:
  vault:
    image: hashicorp/vault-enterprise:${VAULT_VERSION:-1.20-ent}
    container_name: ${COMPOSE_PROJECT_NAME}_vault
    restart: unless-stopped
    ports:
      - "${VAULT_PORT:-8200}:8200"
    env_file:
      - .env # Contains VAULT_ADDR, VAULT_LICENSE
    environment:
      VAULT_LOG_LEVEL: ${VAULT_LOG_LEVEL:-info} # Default to 'info', allow override via .env
      VAULT_CACERT: /vault/config/ca.crt # CA certificate for Vault CLI
    cap_add:
      - IPC_LOCK
    configs:
      - source: vault-config
        target: /vault/config/raft.hcl
      - source: vault-ca
        target: /vault/config/ca.crt
      - source: vault-cert
        target: /vault/config/localhost.crt
      - source: vault-key
        target: /vault/config/localhost.key
    volumes:
      - vault-data:/vault/file  # Need this volume to fudge permissions error
      - vault-logs:/vault/logs
    command: server
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8200/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s # Give Vault time to start before checking

  grafana:
    image: grafana/grafana:${GRAFANA_VERSION:-latest}
    container_name: ${COMPOSE_PROJECT_NAME}_grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    configs:
      - source: grafana-datasources
        target: /etc/grafana/provisioning/datasources/datasources.yml
      - source: grafana-dashboards-config
        target: /etc/grafana/provisioning/dashboards/dashboards.yml
    volumes:
      - ./volumes/grafana/dashboards:/var/lib/grafana/dashboards:ro
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
    depends_on:
      - prometheus
      - loki

  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION:-latest}
    container_name: ${COMPOSE_PROJECT_NAME}_prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml
      - source: prometheus-rules
        target: /etc/prometheus/vault-rules.yml
    volumes:
      #- ./volumes/prometheus/prometheus-token:/etc/prometheus/prometheus-token:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.enable-remote-write-receiver'

  loki:
    image: grafana/loki:${LOKI_VERSION:-latest}
    container_name: ${COMPOSE_PROJECT_NAME}_loki
    restart: unless-stopped
    ports:
      - "3100:3100"
#    configs:
#      - source: loki-config
#        target: /etc/loki/loki.yml
    volumes:
      - ./volumes/loki/loki.yml:/etc/loki/loki.yml:ro
      - loki-data:/loki/data
#      - ./volumes/loki/loki_perm_fix.sh:/loki/loki_perm_fix.sh:ro
    command: -config.file=/etc/loki/loki.yml
#    entrypoint: /loki/loki_perm_fix.sh
    user: root # Required for permission fix as Loki runs as user Loki by default

  alloy:
    image: grafana/alloy:${ALLOY_VERSION:-latest}
    container_name: ${COMPOSE_PROJECT_NAME}_alloy
    restart: unless-stopped
    environment:
      - VAULT_ADDR=https://vault:8200
      #- VAULT_TOKEN=/etc/prometheus/prometheus-token
    configs:
      - source: alloy-config
        target: /etc/alloy/config.alloy
      - source: vault-ca
        target: /etc/ssl/certs/vault-ca.crt
    volumes:
      - alloy-data:/var/lib/alloy/data
      - vault-logs:/mnt/vault-logs:ro
      #- ./volumes/prometheus/prometheus-token:/etc/prometheus/prometheus-token:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - run
      - /etc/alloy/config.alloy
      - --storage.path=/var/lib/alloy/data
      - --server.http.listen-addr=0.0.0.0:12345
    ports:
      - "12345:12345"
    user: root
    depends_on:
      - loki

configs:
  vault-config:
    file: ./volumes/vault/raft.hcl
  vault-ca:
    file: ./volumes/vault/ca.crt
  vault-cert:
    file: ./volumes/vault/localhost.crt
  vault-key:
    file: ./volumes/vault/localhost.key
  grafana-datasources:
    file: ./volumes/grafana/datasources.yml
  grafana-dashboards-config:
    file: ./volumes/grafana/dashboards.yml
  prometheus-config:
    file: ./volumes/prometheus/prometheus.yml
  prometheus-rules:
    file: ./volumes/prometheus/vault-rules.yml
  loki-config:
    file: ./volumes/loki/loki.yml
  alloy-config:
    file: ./volumes/alloy/config.alloy

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}

volumes:
  loki-data:
  grafana-data:
  prometheus-data:
  promtail-data:
  alloy-data:
  vault-data:
  vault-logs:
